.sea-board{
  display: grid;
  grid-template-columns: 1.5fr repeat(5, 1fr) 1.5fr ;
  grid-template-rows: 1.5fr repeat(5, 1fr) 1.5fr;
  width: 850px;
  height: 850px;
  position: relative;
  background-image: url("../img/background.jpg");
  background-size: cover;
  --color : white;
  --background: rgba(240, 248, 255,0.5);
  
}
.sea-board__left{
  width: 45%;
  height: 60%;
  margin-top: 2.5%;
  display: flex;
  justify-content: space-around;
  color: midnightblue;
}
.sea-board__right{
  width: 45%;
  height: 60%;
  margin-top: 2.5%;
  display: flex;
}
.sea-board__bottom{
  width: 95%;
  height: 30%;
  background-color: var(--background);
  border-radius: 10px;
  box-shadow: 5px 5px white;
  overflow: hidden;  
}
.sea-board__messages{
  transform: translateY(-100%);
  margin-top: 30%;
  color: midnightblue;
  font-family: sans-serif;
  list-style: none;
  padding-left: 20px;
}
.sea-board__cell{
   background-color: var(--background);
   border-right: 1px solid var(--color);
   box-sizing: border-box;
   flex-grow: 1;
   display: flex;
   flex-wrap: wrap;
   justify-content: space-around;
   align-items: center;
}

.sea-board__cell:first-child{
}
.sea-board__group .sea-board__cell{
  flex-grow: 0;
  flex-basis: 20%;
}
.sea-board__group{
  display: flex;
  grid-row: 1;
  grid-column: 2/7;
}

.sea-board__group.sea-board__group_direction_column{
  grid-column: 7;
  grid-row: 2/7;
  flex-direction: column;
}
.sea-board__group.sea-board__group_direction_column .sea-board__cell,
.sea-board__group.sea-board__group_direction_column-reverse .sea-board__cell{
  border-right:none;
  border-bottom: 1px solid var(--color);
}
.sea-board__group.sea-board__group_direction_reverse{
  grid-row: 7;
  grid-column: 7/2;
  flex-direction: row-reverse;
}
.sea-board__group.sea-board__group_direction_column-reverse{
  grid-column: 1;
  grid-row: 7/2;
  flex-direction: column-reverse;
}
.sea-board__tl{
  display: flex;
}
.sea-board__tl .sea-board__cell{
  border-bottom: 1px solid var(--color);
}
.sea-board__tr .sea-board__cell{
  border-right: none;
  border-bottom: 1px solid var(--color);
}
.sea-board__tr{
  display: flex;
}
.sea-board__bl{
  display: flex;
}
.sea-board__br .sea-board__cell{
  border-right: none;
}
.sea-board__br{
   grid-column:7;
   grid-row: 7;
   display: flex;
}
  
.sea-board__center{
  grid-column: 2/7;
  grid-row: 2/7;
  background-color: rgba( 248, 248, 255, 0.1);
  border: 1px solid bisque;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.sea-board__dice{
   font-size: 90px;
   
}
