.sea-fish{
  width: 40px;
  height: 40px;
  border-radius: 10px;
  background-color: red;
  overflow: hidden;
  box-shadow: 5px 5px white;
  padding: 2px 3px;
}

.sea-fish__image{
  width: 45px;  
  height: 45px;
}
.sea-fish.sea-fish_big{
  width: initial;
  height: initial;
  display: flex;
  
}
.sea-fish__image.sea-fish__image_big{
  width: initial;
  height: initial;
  max-width: 100%;
  max-height: 100%;
}
.sea-fish__info{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: bold;
  padding: 10px 25%;
  white-space: nowrap;
  background-color: rgba(255,255,255,0.5);
  box-shadow: 5px 5px;
  border-radius: 5px;
}
