.binary-to-decimal{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.binary-to-decimal__group{
  font-weight: bold;
  width: 40%;
  padding: 10px;
  border: 2px solid ghostwhite;
  margin: 5px;
  border-radius: 5px;
}
.binary-to-decimal__group.binary-to-decimal__group_group_convert{
  text-align: center;
  border: none;
}
.binary-to-decimal__convert-button{
  width: 50%;
}
.binary-to-decimal__clear-button{
  color: crimson;
  text-decoration: none;
  border-bottom: 1px dotted crimson;
  margin-left: 40px;
}
.binary-to-decimal__clear-button:hover{
 text-decoration: none;
 border-bottom: none;
}
.binary-to-decimal__errors.binary-to-decimal__errors_visible{
  display: block;
  font-size: 100%;
}
.binary-to-decimal__output.binary-to-decimal__output_hidden{
 display: none;
}
